<table>
  <tr>
    <td>position 1-1</td>
    <td>position 1-2</td>
    <td>position 1-3</td>
  </tr>
  <tr>
    <td>position 2-1</td>
    <td>position 2-2</td>
    <td>position 2-3</td>
  </tr>
  <tr>
    <td class="bottomrow">position 3-1</td>
    <td class="bottomrow">position 3-2</td>
    <td class="bottomrow">position 3-3</td>
  </tr>
</table>
<%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKT1QSqwg4TRvW3b1WOpLInwsLZu-oxu1phij6S2ZFptd9gy-yVg" %>
<%= image_tag "http://1.bp.blogspot.com/-8MPCZ3b2Szg/UB1z3t6Pn7I/AAAAAAAAAAs/QDY4hhVQ5IU/s220/redX2.png" %>

<div class="rowhead">
  <div class="box row1 col1" onclick="alert('here')"></div>
  <div class="box row1 col2 x_position_taken"></div>
  <div class="box row1 col3 x_position_taken"></div>
</div>
<div class="rowhead">
  <div class="box row2 col1 o_position_taken"></div>
  <div class="box row2 col2"></div>
  <div class="box row2 col3"></div>
</div>
<div class="rowhead">
  <div class="box row3 col1 o_position_taken"></div>
  <div class="box row3 col2"></div>
  <div class="box row3 col3"></div>
</div>
