<table>
  <tr>
    <td><div class="o_cell_taken"></div></td>
    <td>cell 1-2</td>
    <td>cell 1-3</td>
  </tr>
  <tr>
    <td>cell 2-1</td>
    <td>cell 2-2</td>
    <td>cell 2-3</td>
  </tr>
  <tr>
    <td>cell 3-1</td>
    <td>cell 3-2</td>
    <td>cell 3-3</td>
  </tr>
</table>
<%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKT1QSqwg4TRvW3b1WOpLInwsLZu-oxu1phij6S2ZFptd9gy-yVg" %>
<%= image_tag "http://1.bp.blogspot.com/-8MPCZ3b2Szg/UB1z3t6Pn7I/AAAAAAAAAAs/QDY4hhVQ5IU/s220/redX2.png" %>
