// Place all the styles related to the TicTacToe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.x_cell_taken{

}

.cell_open {

}

.o_cell_taken {
  margin: 0;
  padding: 0;
  height: 200;
  width: 200;
  display: block;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKT1QSqwg4TRvW3b1WOpLInwsLZu-oxu1phij6S2ZFptd9gy-yVg") ;
}
